aiohappyeyeballs==2.4.0
aiohttp==3.10.5
aiosignal==1.3.1
annotated-types==0.7.0
anyio==4.6.0
asttokens==2.4.1
async-timeout==4.0.3
attrs==24.2.0
blinker==1.7.0
certifi==2024.8.30
charset-normalizer==3.3.2
click==8.1.7
comm==0.2.1
debugpy==1.8.1
decorator
distro==1.9.0
dnspython==2.5.0
exceptiongroup==1.2.0
executing==2.0.1
Flask==3.0.2
flask-googlemaps==0.4.1
frozenlist==1.4.1
ghp-import==2.1.0
greenlet==3.0.3
gunicorn==21.2.0
h11==0.14.0
htmlmin==0.1.12
httpcore==1.0.5
httpx==0.27.2
idna==3.10
importlib_metadata
iniconfig==2.0.0
ipykernel==6.29.2
ipython==8.21.0
itsdangerous==2.1.2
jedi 
Jinja2==3.1.3
jiter==0.5.0
jsmin==3.0.1
jsonpatch==1.33
jsonpointer==3.0.0
jupyter_client==8.6.0
jupyter_core==5.7.1
langchain==0.3.0
langchain-core==0.3.5
langchain-openai==0.2.0
langchain-text-splitters==0.3.0
langgraph==0.2.23
langgraph-checkpoint==1.0.10
langsmith==0.1.125
Markdown==3.5.2
MarkupSafe==2.1.5
matplotlib-inline==0.1.6
mergedeep==1.3.4
mkdocs==1.5.3
mkdocs-material==5.5.14
mkdocs-material-extensions==1.3.1
mkdocs-minify-plugin==0.3.0
msgpack==1.1.0
multidict==6.1.0
nest-asyncio==1.6.0
numpy==1.26.4
openai==1.47.0
orjson==3.10.7
packaging 
pandas==2.2.0
parso 
pathspec==0.12.1
pexpect 
pickleshare 
platformdirs 
playwright==1.47.0
pluggy==1.5.0
prompt-toolkit==3.0.43
psutil 
ptyprocess 
pure-eval==0.2.2
py4j==0.10.9.7
pydantic==2.9.2
pydantic_core==2.23.4
pyee==12.0.0
Pygments 
pymdown-extensions==10.7
pymongo==4.6.1
pyspark==3.5.1
pytest==8.3.3
pytest-base-url==2.1.0
pytest-playwright==0.5.2
python-dateutil==2.8.2
python-dotenv==1.0.1
python-slugify==8.0.4
PyYAML==6.0.2
pyyaml_env_tag==0.1
pyzmq==25.1.2
regex==2024.9.11
requests==2.32.3
six 
sniffio==1.3.1
SQLAlchemy==2.0.35
stack-data==0.6.3
tenacity==8.5.0
text-unidecode==1.3
tiktoken==0.7.0
tomli==2.0.1
tornado==6.4
tqdm==4.66.5
traitlets==5.14.1
typing_extensions 
tzdata==2023.4
urllib3==2.2.3
watchdog==4.0.0
wcwidth 
Werkzeug==3.0.1
yarl==1.11.1
zipp 
